.App {
  text-align: center;
  background-color: #CECBC5;
}

html {
  background-color: #CECBC5;
  font-family: 'Inter', sans-serif;
}

.loading {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #FF4655;
  text-transform: uppercase;
}

.button-div {
  position: relative;
  display: flex;
  top: 0;
}

.button {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: white;
  border: none;
  background-color: transparent;
}

.home {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-left: 3%;
  gap: 5%;
}

.playLink {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #D9D9D9;
  text-decoration: none;
  font-style: italic;
  text-align: left;
}

.playLink:hover {
  scale: 105%;
  color:#FF4655;
  text-decoration: none;
  transform: translateX(+45px);
  transition: .5s ease-in-out;
}

.agentLink {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #D9D9D9;
  text-decoration: none;
  font-style: italic;
  text-align: left;
}

.agentLink:hover {
  scale: 105%;
  color:#FF4655;
  text-decoration: none;
  transform: translateX(+45px);
  transition: .5s ease-in-out;
}

.shopLink {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #D9D9D9;
  text-decoration: none;
  font-style: italic;
  text-align: left;
}

.shopLink:hover {
  scale: 105%;
  color:#FF4655;
  text-decoration: none;
  transform: translateX(+45px);
  transition: .5s ease-in-out;
}

.loadoutLink {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #D9D9D9;
  text-decoration: none;
  font-style: italic;
  text-align: left;
}

.loadoutLink:hover {
  scale: 105%;
  color:#FF4655;
  text-decoration: none;
  transform: translateX(+45px);
  transition: .5s ease-in-out;
}

.settingsLink {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #D9D9D9;
  text-decoration: none;
  font-style: italic;
  text-align: left;
}

.settingsLink:hover {
  scale: 105%;
  color:#FF4655;
  text-decoration: none;
  transform: translateX(+45px);
  transition: .5s ease-in-out;
}

.play-val-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
}

.play-val {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #D9D9D9;
  background-color:#FF4655;
  border: none;
  border-radius: 10px;
  height: 70px;
  width: 300px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #FF4655;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px #e9e8e8;
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #FF4655;
	}
}

@keyframes pulse2 {
	0% {
		transform: scale(1.05);
		box-shadow: 0 0 0 0 #FF4655;
	}

	70% {
		transform: scale(1.10);
		box-shadow: 0 0 0 10px #e9e8e8;
	}

	100% {
		transform: scale(1.05);
		box-shadow: 0 0 0 0 #FF4655;
	}
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 200px auto;
  width: 300px;
  height: 500px;
  object-fit: cover;
  background-color: #D9D9D9;
  border-radius: 20px;
  transition: 500ms;
  cursor: pointer;
}

.card--active {
  opacity: 1;
  transform: scale(1);
  z-index: 99;
  background-color: #FF4655;
  box-shadow: 1px 12px 15px #e9e8e8;
  cursor: pointer;
  border-color: white;
  /* border-width: 6px; */
  animation: pulse2 2s infinite;
}

.card--left--one {
  transform: translateX(-125%) scale(0.8);
  transition: 0.7s;
  opacity: 0.8;
}

.card--left--two {
  transform: translateX(-175%) scale(0.8);
  transition: 0.7s;
  opacity: 0.8;
}

.card--right--one {
  transform: translateX(+125%) scale(0.8);
  transition: 0.7s;
  opacity: 0.8;
}

.card--right--two {
  transform: translateX(+175%) scale(0.8);
  transition: 0.7s;
  opacity: 0.8;
}

.card-carousel {
  background-image: url("./Assets/card-background.png");
  background-size: cover;
  height: 100%;
  overflow: hidden;;
  width: 100%;
  height: 100vh;
}

.main-agent {
  background-image: url("./Assets/agents-background.png");
  background-size: cover;
  height: 100%;
  overflow: hidden;;
  width: 100%;
  height: 100vh;
}

.agent-background {
width: 100%;
height: 100%;
object-fit: cover;
}

.container {
  display: flex;
}

.image-section {
  object-fit: fill;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.agent-image {
  min-width: 150%;
  min-height: 100%;
  max-width: 200%;
  max-height: 100%;
  object-fit: relative;
}

.agent-image:hover {
  scale: 105%;
  transition: .3s ease-in-out;
}

.info-section {
  min-width: 500px;
  
}

.ability-icons {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  gap: 15px;
}

.iconImage1 {
  max-height: 100px;
}

.icon1:hover {
  border: 1.5px solid white;
  border-radius: 20px;
  scale: 102%;
  box-shadow: 1px 1px 9px rgb(219, 219, 219);
  cursor: pointer;
  transition: .2s ease-in-out;
}

.iconImage2 {
  max-height: 100px;
}

.icon2:hover {
  border: 1.5px solid white;
  border-radius: 20px;
  scale: 102%;
  box-shadow: 1px 1px 9px rgb(219, 219, 219);
  cursor: pointer;
  transition: .2s ease-in-out;
}

.iconImage3 {
  max-height: 100px;
}

.icon3:hover {
  border: 1.5px solid white;
  border-radius: 20px;
  scale: 102%;
  box-shadow: 1px 1px 9px rgb(219, 219, 219);
  cursor: pointer;
  transition: .2s ease-in-out;
}

.iconImage4 {
  max-height: 100px;
}

.icon4:hover {
  border: 1.5px solid white;
  border-radius: 20px;
  scale: 102%;
  box-shadow: 1px 1px 9px rgb(219, 219, 219);
  cursor: pointer;
  transition: .2s ease-in-out;
}

.ability-info {
  max-height: 25%;
  min-width: 50%;
  transition: 1s ease-in-out;
}

.agent-h {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 90px;
  text-transform: uppercase;
  font-style: italic;
  color: #D9D9D9;
}

.agent-bio {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  color: #D9D9D9;
}

.ability-h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #D9D9D9;
  text-transform: uppercase;
  font-style: italic;
  transition: .5s ease-in-out;
  margin-top: 50px;
}

.ability-h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #D9D9D9;
  text-transform: uppercase;
  font-style: italic;
  transition: .2s ease-in-out;
}

.ability-p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #D9D9D9;
    font-style: italic;
    transition: .2s ease-in-out;
  }

  .shop-main {
    background-image: url("./Assets/valorant-shop-background2.jpeg");
    background-size: cover;
    height: 100%;
    overflow: hidden;;
    width: 100%;
    height: 100vh;
  }

  .shop-container {
    display: flex;
    gap: 20px;
  }

  .item1 {
    margin: 100px auto;
    width: 300px;
    height: 500px;
    object-fit: cover;
    background-color: #ea404e;
    border-radius: 20px;
    border-width: 10px;
    border-color: #FF4655;
  }

  .item1:hover {
    animation: pulse2 2s infinite;
  }

  .itemImage1 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    width: 300px;
  }

  .bottom-card1 {
    margin-top: 81px;
    height: 182px;
    width: 300px;
    border-radius: 20px;
    background-color: #D9D9D9;
    box-shadow: 0px -4px 10px #cececd;
  }

  .item2 {
    margin: 100px auto;
    width: 300px;
    height: 500px;
    object-fit: cover;
    background-color: #ea404e;
    border-radius: 20px;
    border-width: 10px;
    border-color: #FF4655;
  }

  .item2:hover {
    animation: pulse2 2s infinite;
  }

  .itemImage2 {
    margin: 38px auto;
    width: 180px;
  }

  .bottom-card2 {
    margin-top: 14px;
    height: 182px;
    width: 300px;
    border-radius: 20px;
    background-color: #D9D9D9;
    box-shadow: 0px -4px 10px #cececd;;
  }

  .item3 {
    margin: 100px auto;
    width: 300px;
    height: 500px;
    object-fit: cover;
    background-color: #ea404e;
    border-radius: 20px;
    border-width: 10px;
    border-color: #FF4655;
  }

  .item3:hover {
    animation: pulse2 2s infinite;
  }

  .itemImage3 {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    width: 300px;
  }

  .bottom-card3 {
    margin-top: 86px;
    height: 182px;
    width: 300px;
    border-radius: 20px;
    background-color: #D9D9D9;
    box-shadow: 0px -4px 10px #cececd;;
  }

  .item4 {
    margin: 100px auto;
    width: 300px;
    height: 500px;
    object-fit: cover;
    background-color: #ea404e;
    border-radius: 20px;
    border-width: 10px;
    border-color: #FF4655;
  }

  .item4:hover {
    animation: pulse2 2s infinite;
  }

  .itemImage4 {
    display: flex;
    justify-content: center;
    margin: 60px auto;
    width: 140px;
  }

  .bottom-card4 {
    margin-top: 61px;
    height: 182px;
    width: 300px;
    border-radius: 20px;
    background-color: #D9D9D9;
    box-shadow: 0px -4px 10px #cececd;;
  }

  .vp {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    gap: 5px;
  }

  .vp-image {
    
    height: 30px;
    width: 30px;
  }

  .vp-price {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 26px;
    font-style: italic;
    color: #cececd;
  }

  .shop-text {
    margin: 10px ;
  }

  .si1h1 {
    margin-right: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 60px;
    font-style: italic;
    color: #FF4655;
    text-shadow: 5px 4px 1px rgb(61, 59, 59),
    10px 8px 1px black;
  }

  .si1h2 {
    margin-right: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 50px;
    font-style: italic;
    text-shadow: 4px 3px 1px rgb(96, 94, 94),
    8px 6px 1px #FF4655;
  }

  .si2h1 {
    margin-right: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 60px;
    font-style: italic;
    color: #FF4655;
    text-shadow: 5px 4px 1px rgb(61, 59, 59),
    10px 8px 1px black;
  }

  .si2h2 {
    margin-right: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 50px;
    font-style: italic;
    text-shadow: 4px 3px 1px rgb(96, 94, 94),
    8px 6px 1px #FF4655;
  }

  .si3h1 {
    margin-right: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 40px;
    font-style: italic;
    color: #FF4655;
    text-shadow: 4px 3px 1px rgb(61, 59, 59),
    8px 6px 1px black;
  }

  .si3h2 {
    margin-right: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 50px;
    font-style: italic;
    text-shadow: 4px 3px 1px rgb(96, 94, 94),
    8px 6px 1px #FF4655;
  }

  .si4h1 {
    margin-right: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 60px;
    font-style: italic;
    color: #FF4655;
    text-shadow: 5px 4px 1px rgb(61, 59, 59),
    10px 8px 1px black;
  }

  .si4h2 {
    margin-right: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 50px;
    font-style: italic;
    text-shadow: 4px 3px 1px rgb(96, 94, 94),
    8px 6px 1px #FF4655;
  }

.theme-header {
  margin-top: 50px;
}

  .theme-h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #FF4655;
  }

  .color-picker {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
  }

  .red {
    height: 70px;
    width: 70px;
    border-radius: 15px;
    border: none;
    background-color: #FF4655;
  }

  .red:hover {
    scale: 110%;
    transition: .5s ease;
  }

  .blue {
    height: 70px;
    width: 70px;
    border-radius: 15px;
    border: none;
    background-color: #009BFF;
  }

  .blue:hover {
    scale: 110%;
    transition: .5s ease;
  }

  .purple {
    height: 70px;
    width: 70px;
    border-radius: 15px;
    border: none;
    background-color: #7F73FF;
  }

  .purple:hover {
    scale: 110%;
    transition: .5s ease;
  }

  .green {
    height: 70px;
    width: 70px;
    border-radius: 15px;
    border: none;
    background-color: #00A820;
  }

  .green:hover {
    scale: 110%;
    transition: .5s ease;
  }

.loadout-page {
  background-image: url("./Assets/loadout-background2.png");
    background-size: cover;
    height: 100%;
    overflow: hidden;;
    width: 100%;
    height: 100vh;
}

.player-card-container{
  display: flex;
  justify-content: center;
}

  .player-card {
    width: 200px;
    height: 500px;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 37px;
    background-color: rgb(206, 203, 197, .4);
    border: 1px solid #e9e8e8;
  }

  .player-card:hover {
    scale: 107%;
    background-color: rgb(255, 70, 85, .6);
    transition: .3s ease-in;
  }

  .lo-playercard-image {
    height: 490px;
    width: 190px;
    border-radius: 20px;
    margin-top: 5px;
  }


  .loadout-boxes {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    gap: 25px;
  }

  .lo-secondary {
    width: 80px;
    height: 80px;
    background-color: rgb(206, 203, 197, .4);
    border: 1px solid #e9e8e8;
    border-radius: 20px;
  }

  .lo-secondary:hover {
    scale: 120%;
    background-color: rgb(255, 70, 85, .6);
    transition: .3s ease-in;
  }

  .lo-secondary-image {
    max-width: 80px;
    margin-top: 10px;
  }

  .lo-primary {
    height: 80px;
    width: 200px;
    background-color: rgb(206, 203, 197, .4);
    border: 1px solid #e9e8e8;
    border-radius: 20px;
    object-fit: contain;
  }

  .lo-primary:hover {
    scale: 115%;
    background-color: rgb(255, 70, 85, .6);
    transition: .3s ease-in;
  }

  .lo-primary-image {
    max-width: 200px;
    margin-top: 15px;
  }

  .lo-melee {
    width: 80px;
    height: 80px;
    background-color: rgb(206, 203, 197, .4);
    border: 1px solid #e9e8e8;
    border-radius: 20px;
  }

  .lo-melee:hover {
    scale: 120%;
    background-color: rgb(255, 70, 85, .6);
    transition: .3s ease-in;
  }

  .lo-melee-image {
    max-width: 70px;
    margin-top: 10px;
  }

  .lo-buddy {
    width: 80px;
    height: 80px;
    background-color: rgb(206, 203, 197, .4);
    border: 1px solid #e9e8e8;
    border-radius: 20px;
  }

  .lo-buddy:hover {
    scale: 120%;
    background-color: rgb(255, 70, 85, .6);
    transition: .3s ease-in;
  }

  .lo-buddy-image {
    max-width: 70px;
    margin-top: 10px;
  }

  .lo-spray {
    width: 80px;
    height: 80px;
    background-color: rgb(206, 203, 197, .4);
    border: 1px solid #e9e8e8;
    border-radius: 20px;
  }

  .lo-spray:hover {
    scale: 120%;
    background-color: rgb(255, 70, 85, .6);
    transition: .3s ease-in;
  }

  .lo-spray-image {
    max-width: 70px;
    margin-top: 3px;
  }

  .selected-h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #FF4655;
  }

.lo-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

  .lo-item-box1 {
    height: 80px;
    width: 220px;
    background-color: rgb(206, 203, 197, .5);
    border: 2px solid #e9e8e8;
    border-radius: 20px;
  }

  .lo-item-box1:hover {
    scale: 110%;
    background-color: rgb(255, 70, 85, .6);
    transition: .3s ease-in;
  }

  .lo-item-image1 {
    max-width: 210px;
    max-height: 80px;
  }

  .lo-item-box2 {
    height: 80px;
    width: 220px;
    background-color: rgb(206, 203, 197, .5);
    border: 2px solid #e9e8e8;
    border-radius: 20px;
  }

  .lo-item-box2:hover {
    scale: 110%;
    background-color: rgb(255, 70, 85, .6);
    transition: .3s ease-in;
  }

  .lo-item-image2 {
    max-width: 210px;
    max-height: 80px;
    margin-top: 10px;
  }

  .lo-item-box3 {
    height: 80px;
    width: 100px;
    background-color: rgb(206, 203, 197, .5);
    border: 2px solid #e9e8e8;
    border-radius: 20px;
  }

  .lo-item-box3:hover {
    scale: 110%;
    background-color: rgb(255, 70, 85, .6);
    transition: .3s ease-in;
  }

  .lo-item-image3 {
    max-width: 80px;
    max-height: 80px;
    margin-top: 20px;
  }

  .lo-item-box4 {
    height: 80px;
    width: 80px;
    background-color: rgb(206, 203, 197, .5);
    border: 2px solid #e9e8e8;
    border-radius: 20px;
  }

  .lo-item-box4:hover {
    scale: 110%;
    background-color: rgb(255, 70, 85, .6);
    transition: .3s ease-in;
  }

  .lo-item-image4 {
    max-width: 80px;
    max-height: 80px;
  }

  .lo-item-box5 {
    height: 80px;
    width: 80px;
    background-color: rgb(206, 203, 197, .5);
    border: 2px solid #e9e8e8;
    border-radius: 20px;
  }

  .lo-item-box5:hover {
    scale: 110%;
    background-color: rgb(255, 70, 85, .6);
    transition: .3s ease-in;
  }

  .lo-item-image5 {
    max-width: 65px;
    max-height: 80px;
    margin-top: 7px;
  }

  .lo-item-box6 {
    height: 80px;
    width: 80px;
    background-color: rgb(206, 203, 197, .5);
    border: 2px solid #e9e8e8;
    border-radius: 20px;
  }

  .lo-item-box6:hover {
    scale: 110%;
    background-color: rgb(255, 70, 85, .6);
    transition: .3s ease-in;
  }

  .lo-item-image6 {
    max-width: 65px;
    max-height: 80px;
    margin-top: 7px;
  }